.top-free{
    margin:5vw;
}
.vertical{
    display:flex;
    flex-direction: row;
    border-bottom: 1px gray solid;
    margin: 1vw;
    padding: 2vw;

}
.app-img{
    margin: 2vw;
}
h3{
    margin:2vw;
}
.vertical>img{
    width:25%;
    height:25%;
}
.odd { 
    border-radius: 10%;
}
.even {
    border-radius: 50%;
}
.app-info{
    display:flex;
    flex-direction: column;
    position: relative;
    padding: 1vw;
    line-height: 1.8;
}
.app-rating{
    display: flex;
    flex-direction: row;
    position: relative;
}
